doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title patil's Dance website 
        block scripts 
        block style
    body
       nav#navbar 
                 ul  
                      div#logo
                         img(src="/static/IMG/dancelogo.png")
                      li #[a(href='/') HOME ]
                      li #[a(href='/') ABOUT]
                      li #[a(href='/') SERVICES]
                      li #[a(href='/') CLASS INFO]
                      li #[a(href='/contact') CONTACT US ]
       block content 
       
              
       block foot 
             footer#footer 
                   |copyright2022 @ patil'sGym.com All rights reserved  